*{
    margin: 0%;
}
.main{
    border: 2px solid black;
    height: 608px;
    width: 900px;
    margin-top: 10px;
    margin-left: 300px;
    transition: all 1s ease;
}
.main:hover{
 transform: translateX(180px);
 box-shadow: 4px 4px 6px 6px grey;
}
.title{
    font-size: 40px;
    text-align: center;
    background-color: cyan;
}
.camera{
    display: flex;
    margin-top: 20px;
    margin-left: 100px;
}
.cmod{
    display: flex;
    margin-top: 40px;
    margin-left: 150px;
}
.mod{
    margin-top: 20px;
margin-left: 50px;
}
.cable{
 display: flex;
justify-content: flex-end;
margin-right: 150px;
margin-top: 10px;
}
.tele{
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
    margin-right: 120px;
}
.foot{
    text-align: center;
    background-color: cyan;
}
